<div class="container-fluid">
    <div class="row">
        <div class="col-sm-7">
            <h2>Achievements</h2>
            <hr class="no-top-margin"/>
            <div class="col-sm-3">
                <div class="user-progresses text-center">
                    <div class="user-progress">
                        <h2 class="progress-state">{{user?.wonGameCount}}</h2>
                        <div class="progress-desc">Games Won</div>
                    </div>
                    <div class="user-progress">
                        <h2 class="progress-state">{{user?.lostGameCount}}</h2>
                        <div class="progress-desc">Games Lost</div>
                    </div>
                    <div class="user-progress">
                        <h2 class="progress-state">{{getWinRate()}}%</h2>
                        <div class="progress-desc">Win rate</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="achievements">
                    <div class="achievement " *ngFor="let p of playerAchievementProgress">
                        <div class="achievement-name">{{p.achievementType.name}} - {{p.achievementType.description}}
                        </div>
                        <div class="achievement-bar progress">
                            <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="p.progress"
                                 [attr.aria-valuemin]="0"
                                 [attr.aria-valuemax]="p.achievementType.requirement"
                                 [style.width.%]="p.progress / p.achievementType.requirement * 100"
                                 style="transition:none;">
                                <span class="sr-only">{{p.progress}}/{{p.achievementType.requirement}}</span>
                                <span class="tooltip-target">
                                    <span class="tooltip-content">{{p.progress}}/{{p.achievementType.requirement}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5" *ngIf="_loginService.user?.activePlayer">
            <h2 style="text-align:left">{{_loginService.user?.activePlayer.name}}{{_loginService.user?.activePlayer.name.slice(-1) == 's' ? "'" : 's'}} stats</h2>
            <hr class="no-top-margin"/>
            <tennio-new-stats [player]="_loginService.user?.activePlayer"></tennio-new-stats>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3 style="text-align:left">Top ranked Players</h3>
            <hr class="no-top-margin"/>
            <tennio-rankings [title]="null"></tennio-rankings>
        </div>
        <div class="col-sm-8" *ngIf="_loginService.user?.activePlayer ">
            <h3 style="text-align:left">Game history</h3>
            <hr class="no-top-margin"/>
            <tennio-game-history [short]="true"></tennio-game-history>
        </div>
    </div>
</div>