@import "../../../tennio.scss";

#footer {
  width: 100%;
  background: white;
  position: static;
  bottom: 0;
  left: 0;
  right: 0;

  @media (max-width: $navbar-collapse-width) {
    text-align: center;
  }

  .noBullets {
    list-style: none;
    padding: 0;
  }

  h5 {
    font-weight: 600;
    color: black;
    text-transform: uppercase;
  }

  .footlinks li a {
    text-align: center;
    color: $tennio-color;
  }

  #subscribe-btn {
    background-color: $tennio-color;
    padding: 6px 32px;
    font-weight: 600;
    border-radius: 23px;
    margin-top: 16px;
  }

  #footer-end {
    padding-bottom: 16px;

    &.loggedin {
      height: 57px;
      width: 100%;
      background: white;

      hr {
        width: 100%;
        margin-top: 0;
      }
    }
  }

  .row {
    margin-right: 0;
    margin-left: 0;
  }
}