<footer class="text-muted" id="footer">
    <!--<hr *ngIf="!user"/>-->
    <section>
        <!--<div class="row" *ngIf="!user">-->
        <!--<div class="container">-->
        <!--<div class="col-md-9">-->
        <!--<div class="row">-->
        <!--<div class="col-md-3">-->
        <!--<div class="row footlinks">-->
        <!--<div class="col-xs-12">-->
        <!--<h5>TENNIO.COM</h5>-->
        <!--<ul class="noBullets">-->
        <!--<li><i></i><a href="#">News</a></li>-->
        <!--<li><i></i><a href="#">Forums</a></li>-->
        <!--<li><i></i><a href="#">Help</a></li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-3">-->
        <!--<div class="row footlinks">-->
        <!--<div class="col-xs-12">-->
        <!--<h5>about</h5>-->
        <!--<ul class="noBullets">-->
        <!--<li><i></i><a href="#">About</a></li>-->
        <!--<li><i></i><a href="#">Privacy policy</a></li>-->
        <!--<li><i></i><a href="#">Terms of service</a></li>-->
        <!--<li><i></i><a href="#">Jobs</a></li>-->
        <!--<li><i></i><a href="#">Friends</a></li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-3">-->
        <!--<div class="row footlinks">-->
        <!--<div class="col-xs-12">-->
        <!--<h5>socialize with us</h5>-->
        <!--<ul class="noBullets">-->
        <!--<li><i></i><a href="#">Facebook</a></li>-->
        <!--<li><i></i><a href="#">Google+</a></li>-->
        <!--<li><i></i><a href="#">Twitter</a></li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-3">-->
        <!--<div class="row">-->
        <!--<div class="col-xs-12">-->
        <!--<form class="form-inline" role="form">-->
        <!--<ul class="noBullets">-->
        <!--<h5>Sign up for our news</h5>-->
        <!--<li>-->
        <!--<div class="form-group">-->
        <!--<input type="email" class="form-control"-->
        <!--placeholder="Your email address">-->
        <!--</div>-->
        <!--</li>-->
        <!--<li>-->
        <!--<button type="submit" id="subscribe-btn" class="btn btn-success btn-sm">Sign-->
        <!--up!-->
        <!--</button>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</form>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="text-center" id="footer-end">-->
        <!--<hr style="width:100%"/>-->
        <!--Copyright Tennio.com, 2017-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <div class="text-center loggedin" id="footer-end">
            <hr>
            Copyright Tennio.com, 2017
        </div>
    </section>
</footer>