.new-player-stats {
  ul {
    padding-left: 6px;
  }
  li {
    list-style-type: none;
  }

  .stat-name {
    text-transform: capitalize;
  }
}

.child-img {
  width: 120px;
  height: 197px;
  background-size: 100% 100%;
  background: url(../../../assets/child.png) no-repeat center;
  margin-bottom: 16px;
  margin-top: 40px;
}