<div class="new-player-stats">
    <div class="col-sm-4">
        <div class="child-img">
        </div>
        <li *ngIf="player?.playerSeasonList?.length" class="text-center">
            <div>
                ELO: {{player?.playerSeasonList[player?.playerSeasonList?.length - 1]?.elo}}
            </div>
        </li>
    </div>
    <div class="col-sm-8">
        <ul class="stats">
            <li class="" *ngFor="let stat of stats">
                <div class="stat-name">
                    {{stat.name}}
                </div>
                <div class="progress" style="height:2px;">
                    <div class="progress-bar progress-bar-success" role="progressbar" id="{{stat.name}}-bar"
                         aria-valuemin="0" aria-valuemax="100"
                         [style.width.%]="(stat.LVL / 30) * 100">
                    </div>
                    <span class="level-next pull-right">{{player ? (stat.LVL == 0 ? 2 : stat.LVL + 1) : MAX_LEVEL}}</span>
                </div>
            </li>
        </ul>
    </div>
</div>