<div class="player-stats">
    <ul class="stats">
        <li *ngIf="player?.playerSeasonList?.length" class="text-center elo col-sm-12">
            <div>
                ELO: {{player?.playerSeasonList[player?.playerSeasonList?.length - 1]?.elo}}
            </div>
        </li>
        <li class="col-sm-6" *ngFor="let stat of stats">
            <div class="stat-name">
                {{stat.name}}
            </div>
            <div class="progress">
                <span class="level-current pull-left">{{stat.LVL == 0 ? 1 : stat.LVL}}</span>
                <div class="progress-bar" role="progressbar" id="{{stat.name}}-bar"
                     [attr.aria-valuenow]="100" aria-valuemin="0" aria-valuemax="100"
                     [style.width.%]="getStatPercentage(stat)" [style.padding]="'15px 0'"
                     [style.backgroundColor]="stat.change ? 'purple' : 'auto'">
                    <span class="sr-only">{{getStatPercentage(stat)}} Complete</span>
                </div>
                <span class="level-next pull-right">{{player ? (stat.LVL == 0 ? 2 : stat.LVL + 1) : MAX_LEVEL}}</span>
            </div>
        </li>
    </ul>
</div>