<div class="row">
    <div class="col-xs-3">
    </div>
    <div class="col-xs-6">
        <div *ngIf="!user?.email" class="alert alert-warning text-center">
            <div class="row">
                <strong>Please confirm your email address!</strong>
                <span *ngIf="resent" class="pull-right">Email resent!</span>
            </div>
            <div class="row text-center" *ngIf="!resent">
                <button type="button" (click)="resend()" class="btn btn-warning">Resend email</button>
            </div>
        </div>
        <div class="form-group has-feedback">
            Username: {{user?.username}}
        </div>
        <form #f="ngForm" (ngSubmit)="submit(f)">
            <div class="form-group has-feedback">
                <i class="glyphicon glyphicon-asterisk form-control-feedback"></i>
                <input pattern="(\S){6,}" title="6 characters minimum" type="password" id="old-password"
                       class="form-control" name="password" ngModel #password="ngModel" placeholder="Old password"
                       required/>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Change password
                </div>
                <div class="panel-body">
                    <div class="form-group has-feedback">
                        <i class="glyphicon glyphicon-asterisk form-control-feedback"></i>
                        <input pattern="(\S){6,}" title="6 characters minimum " type="password" id="new-password"
                               class="form-control" name="newPassword" ngModel #password="ngModel"
                               placeholder="New password"/>
                    </div>
                    <div class="form-group has-feedback">
                        <i class="glyphicon glyphicon-asterisk form-control-feedback"></i>
                        <input pattern="(\S){6,}" title="6 characters minimum" type="password" id="rpt-new-password"
                               class="form-control" name="rnewPassword" ngModel #password="ngModel"
                               placeholder="Repeat new password"/>
                    </div>
                </div>
            </div>
            <div class="form-group has-feedback">
                <div>
                    <label for="first-name">First name</label>
                    <i class="glyphicon glyphicon-user form-control-feedback"></i>
                    <input pattern=".{4,}" title="4 characters minimum" id="first-name" class="form-control"
                           name="firstName" ngModel #firstName="ngModel" placeholder="{{user?.firstname}}"/>
                </div>
            </div>
            <div class="form-group has-feedback">
                <div>
                    <label for="last-name">Last name</label>
                    <i class="glyphicon glyphicon-user form-control-feedback"></i>
                    <input pattern=".{4,}" title="4 characters minimum" id="last-name" class="form-control"
                           name="lastName" ngModel #lastName="ngModel" placeholder="{{user?.lastname}}"/>
                </div>
            </div>
            <div class="form-group has-feedback">
                <div>
                    <label for="email">Email</label>
                    <i class="glyphicon glyphicon-envelope form-control-feedback"></i>
                    <input id="email" class="form-control" type="email" placeholder="{{user?.email}}"
                           pattern="^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$"
                           title="Please input a valid email" name="email" ngModel #email="ngModel" [disabled]="!user.email">
                </div>
            </div>
            <div class="form-group has-feedback">
                <country-picker #cp [label]="null" [countryCode]="user.country? user.country.code : null"></country-picker>
            </div>
            <div class="form-group has-feedback text-center">
                <button type="submit" [disabled]="!canSubmit(f)" class="btn btn-success btn-large">
                    Update details
                </button>
            </div>
        </form>
    </div>
    <div class="col-xs-3">
    </div>
</div>