<!-- Join tournament modal -->
<div class="modal fade" id="tournament-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form #f="ngForm" style="text-align: center;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" (click)="onDeclineJoin()"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Join Tournament</h4>
                </div>
                <div class="modal-body">
                    <div *ngIf="tournament">
                        {{tournament.name}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" (click)="onDeclineJoin()" class="btn btn-default" data-dismiss="modal">
                        Cancel
                    </button>
                    <button type="button" icon="fa-external-link-square" label="Show" data-dismiss="modal"
                            (click)="onJoinTournament();">Join
                    </button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->