<style>
    .challenge {
        background-color: rgb(194, 214, 225);
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div *ngIf="tournament">
                <h2>{{tournament.name}}</h2>
                <div class="panel panel-default">
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Position</th>
                                    <th>Name</th>
                                    <th>Rank</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let player of tournament.playerPositions"
                                    (click)="onPlayerSelect(player);"
                                    [class.challenge]="canChallenge(player.player)">
                                    <td>{{player.position}}</td>
                                    <td>{{player.player.name}}</td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-6 -->

            <!-- Select player modal -->
            <div class="modal fade" id="player-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form #f="ngForm" style="text-align: center;">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Player information</h4>
                            </div>
                            <div class="modal-body">
                                <div *ngIf="selectedPlayer">
                                    {{selectedPlayer.name}}
                                </div>
                                <tennio-stats [player]="selectedPlayer"></tennio-stats>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button *ngIf="canChallenge(selectedPlayer)" type="button" icon="fa-external-link-square" label="Show"
                                        data-dismiss="modal" (click)="challengeOpponent();">Challenge
                                </button>
                            </div>
                        </form>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
        </div>
    </div>
    <!-- /.row -->
</div>
<tennio-join-tournament [update]="updateTournament()" [tournament]="tournament"
                        [show]="tournament && shouldShowPopup()"></tennio-join-tournament>