<div class="container-fluid">
    <div class="col-lg-12">
        <div class="col-lg-4 text-center" style="margin-top:22px">
            <h4 class="row">
                Your tournament registrations
            </h4>
            <div class="table-responsive row">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="text-center">Player</th>
                        <th class="text-center">Tournament name</th>
                        <th class="text-center">Position</th>
                    </tr>
                    </thead>
                    <tbody>
                    <ng-template ngFor let-item="$implicit" [ngForOf]="registrations">
                        <tr *ngIf="!isEndedRegistration(item)" (click)="onSelect(item.tournament);">
                            <td>{{item.player.name}}</td>
                            <td>{{item.tournament.name}}</td>
                            <td>{{item.position}}</td>
                        </tr>
                    </ng-template>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel">
            <div class="col-lg-8">
                <div class="text-center" style="margin-top:22px">
                    Server time: {{timeService.dateTimeString}}
                </div>
                <div class="panel-body row">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#major" data-toggle="tab">Major Tournaments</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="major">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Tournament name</th>
                                        <th>Phase</th>
                                        <th>Start</th>
                                        <th>End</th>
                                        <th>Prizes</th>
                                        <th>Registration</th>
                                        <th>Registered</th>
                                        <th>Vacancies</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let tournament of tournaments"
                                        (click)="onSelect(tournament);">
                                        <td>{{tournament.name}}</td>
                                        <td>{{getTournamentPhaseText(tournament.tournamentPhase)}}</td>
                                        <td>{{tournament.startDate | date:"MM/dd hh:mm a"}}</td>
                                        <td>{{tournament.endDate | date:"MM/dd hh:mm a"}}</td>
                                        <td>{{tournament.prizePool}}</td>
                                        <td>{{tournament.entryFee ? tournament.entryFee : "FREE"}}</td>
                                        <td>{{tournament.players.length}}</td>
                                        <td>{{tournament.maxPlayers - tournament.players.length}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                    </div>
                    <tennio-join-tournament [tournament]="selectedTournament"
                                            [show]="selectedTournament && shouldShowPopup()">
                    </tennio-join-tournament>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <!-- /.panel -->
    </div>
</div>
<!-- /.container-fluid -->
