<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#shop" data-toggle="tab">Shop</a>
                        </li>
                        <li>
                            <a href="#loadout" data-toggle="tab">Loadouts</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="shop" style="margin-top:10px">
                            <tennio-shop></tennio-shop>
                        </div>
                        <div class="tab-pane fade" id="loadout" style="margin-top:10px">
                            <tennio-loadout></tennio-loadout>
                        </div>
                    </div>

                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->