@import "../../../tennio.scss";

@font-face {
	font-family: Digital-Dream;
	src: url('../../../assets/digitaldream.ttf');
}

#tennio-game-cont {
	position: relative;
}

#scoreboard {
	margin-bottom: -5px;
}

.game {
	position: relative;
	#hide-sideview {
		@include pointer();
		@include centerX();

		// don't even dare optimize these!!!
		background: black url(../../../assets/d-up-arrows.svg) no-repeat;
		background-size: 50% 50%;
		background-position: center;

		&.minimized {
			background: black url(../../../assets/d-down-arrows.svg) no-repeat;
			background-size: 50% 50%;
			background-position: center;
		}

		width: 3.25vw;
		height: 2.5vw;
		border-radius: 50%;
		top: -1.2vw;
	}

	#sideview {
		@include centerX();
		top: 0;

		width: 38%;
		background: rgba(0, 0, 0, 0.35);
	}

	#game-sliders {
		position: absolute;
		bottom: calc(5px + 15%);
		right: 0;
		background: rgba(255, 255, 255, 0.8);
		width: 40%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		padding: 1%;
		min-width: 430px;
		.sliderCont {
			h4 {
				margin-top: 0;
				font-weight: 500;
			}
			width: 47%;
			&:nth-child(odd) {
				margin-right: 3%;
			}
			&:nth-child(even) {
				margin-left: 3%;
			}
			p {
				margin: 0;
			}
			&.game-button {
				margin-top: 1.5%;
			}
		}
	}

	.game-buttons {
		position: absolute;
		bottom: 5px;
		left: 0;
		width: 100%;
		height: 15%;
		background: rgba(0, 0, 0, 0.8);

		.v-cent-cont {
			@include centerY();
			width: 100%;
			height: 50%;

			.game-button {
				&:hover {
					cursor: pointer;
				}
				height: 100%;
				border-radius: 500px;
				background: none;
				border: 2px solid $tennio-color;
				color: $tennio-color;
				font-weight: 800;
				font-size: 1vw;
				width: 20.5%;
				margin-left: 2%;
				display: inline-block;
			}

			#settings-cog {
				width: 5%;
				height: 100%;
				position: absolute;
				right: 2%;

				&:hover, &.toggled {
					cursor: pointer;
					background: url(../../../assets/cog-filled.svg) no-repeat;
				}

				background: url(../../../assets/cog.svg) no-repeat;
				display: inline-block;
			}
		}
	}
}

canvas {
	width: 100%;
}