<div class="container-fluid" id="tennio-game-cont">
    <div class="row">
        <div class="col-lg-12">
            <div class="gameScreen col-lg-12">
                <canvas #scoreBoard id="scoreboard" width="{{canvasWidth}}"
                        height="{{canvasHeightScoreView}}"></canvas>
                <div class="game">
                    <canvas #gameCanvas width="{{canvasWidth}}" height="{{canvasHeight}}"></canvas>
                    <canvas id="sideview" #sideView width="{{canvasWidth}}" height="{{canvasHeightTopView}}"></canvas>
                    <div id="hide-sideview" (click)="toggleSideView()"></div>
                    <div id="game-sliders" style="display:none;" *ngIf="sliderValues.initialized">
                        <div class="sliderCont">
                            <h4>Serving</h4>

                            <div style="float: left;">Aggressive</div>
                            <div style="float: right;">Precise</div>
                            <div>
                                <slider (valueChanged)="onSliderChange($event, sliderName.Serve)" [min]="-2" [max]="2"
                                        [value]="sliderValues.Serve"></slider>
                            </div>
                        </div>
                        <div class="sliderCont">
                            <h4>Aim</h4>

                            <p style="float: left;">Net</p>

                            <p style="float: right;">Baseline</p>
                            <slider (valueChanged)="onSliderChange($event, sliderName.ShotAiming)" [min]="-2" [max]="2"
                                    [value]="sliderValues.ShotAiming"></slider>

                        </div>
                        <div class="sliderCont">
                            <h4>Shooting</h4>

                            <p style="float: left;">Aggressive</p>

                            <p style="float: right;">Precise</p>
                            <slider (valueChanged)="onSliderChange($event, sliderName.Shooting)" [min]="-2" [max]="2"
                                    [value]="sliderValues.Shooting"></slider>

                        </div>
                        <div class="sliderCont">
                            <h4>Positioning after shot</h4>

                            <p style="float: left;">Attacking</p>

                            <p style="float: right;">Defensive</p>
                            <slider (valueChanged)="onSliderChange($event, sliderName.PositionAfterShot)" [min]="-2"
                                    [max]="2"
                                    [value]="sliderValues.PositionAfterShot"></slider>

                        </div>
                        <button class="game-button sliderCont" [disabled]="tookTimeout" (click)="toggleGamePause()">
                            Take timeout
                        </button>
                        <button class="game-button btn-danger sliderCont" [disabled]="false"
                                (click)="toggleSurrenderModal()">
                            Surrender
                        </button>
                    </div>
                    <div class="game-buttons">
                        <div class="v-cent-cont">
                            <button *ngFor="let button of actionButtons" class="game-button"
                                    [disabled]="fitness <= button.cost"
                                    (click)="onActionButton(button.sliderName)">
                                {{button.caption}} ({{button.cost}})
                            </button>
                            <div id="settings-cog" (click)="toggleSliders()"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-4">
                <div>Fitness: {{fitness}}</div>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar"
                         [attr.aria-valuenow]="fitness" aria-valuemin="0" aria-valuemax="1000"
                         [style.width.%]="fitness/10" style="transition:none;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div style="font-family: Digital-Dream"></div>
</div>

<div class="modal fade" data-backdrop="false" id="surrender-modal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Really surrender?</h4>
            </div>
            <div class="modal-body text-center">
                <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" (click)="surrender()">Yes</button>
            </div>
        </div>
    </div>
</div>