<label for="countries" *ngIf="label">
    {{label}}
</label>
<select #sel id="countries" (change)="onChange(sel.value, sel.options[sel.selectedIndex].text)" class="form-control">
    <option *ngFor="let c of countries" value="{{c.code}}" [selected]="c.code == countryCode">
        {{c.name}}
    </option>
</select>
