<!-- no player selected modal -->
<div class="modal" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" *ngIf="loginComponent">
                    {{loginComponent?.getSubmitBtnTxt()}}
                </h4>
            </div>
            <div class="modal-body">
                <tennio-login-form #form [view]="loginView"></tennio-login-form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->