<form #f="ngForm" (ngSubmit)="submit(f)" style="text-align: center;">
    <div *ngIf="showError" class="alert alert-danger">
        <strong>{{errorMsg}}</strong>
    </div>
    <div *ngIf="showSuccess" class="alert alert-success">
        <strong>{{(view == views.REGISTER || view == views.SHORT_REGISTER) ? "Successfully registered!" : "If your
            provided email exists in our database we sent you a confirmation email."}}</strong>
    </div>
    <div *ngIf="view != views.RESET_PASSWORD">
        <div [class]="view == views.SHORT_REGISTER ? 'form-group has-feedback fat-input' : 'form-group has-feedback'">
            <i class="glyphicon glyphicon-user form-control-feedback"></i>
            <input pattern=".{4,}" title="4 characters minimum" type="text" id="reg-username"
                   class="form-control" name="username" ngModel #username="ngModel" placeholder="Username" required/>
        </div>
        <div [class]="view == views.SHORT_REGISTER ? 'form-group has-feedback fat-input' : 'form-group has-feedback'">
            <i class="glyphicon glyphicon-asterisk form-control-feedback"></i>
            <input pattern=".{6,}" title="6 characters minimum" type="password" id="reg-password"
                   class="form-control" name="password" ngModel #password="ngModel" placeholder="Password" required/>
        </div>
    </div>
    <div *ngIf="view == views.REGISTER">
        <div class="form-group has-feedback">
            <div>
                <i class="glyphicon glyphicon-user form-control-feedback"></i>
                <input pattern=".{4,}" title="4 characters minimum" id="first-name" class="form-control"
                       name="firstName" ngModel #firstName="ngModel" required placeholder="First name"/>
            </div>
        </div>
        <div class="form-group has-feedback">
            <div>
                <i class="glyphicon glyphicon-user form-control-feedback"></i>
                <input pattern=".{4,}" title="4 characters minimum" id="last-name" class="form-control"
                       name="lastName" ngModel #lastName="ngModel" required placeholder="Last name"/>
            </div>
        </div>
        <div class="form-group has-feedback">
            <country-picker #cpp [label]="null"></country-picker>
        </div>
    </div>
    <div *ngIf="view != views.LOGIN"
         [class]="view == views.SHORT_REGISTER ? 'form-group has-feedback fat-input' : 'form-group has-feedback'">
        <i class="glyphicon glyphicon-envelope form-control-feedback"></i>
        <input id="email" class="form-control" required type="email" placeholder="Email"
               pattern="^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$"
               title="Please input a valid email" name="email" ngModel #email="ngModel">
    </div>
    <span id="login-footer">
        <div *ngIf="showSwap" class="row" style="margin:inherit; margin-top: 16px;">
            <a style="line-height: 35px;" (click)="swapForms(false)" class="pull-left">{{getSwapBtnTxt()}}</a>
            <a *ngIf="view != views.RESET_PASSWORD" (click)="swapForms(true)"
               style="line-height: 35px; margin-left: 25px;"
               class="pull-left">Forgot
                password?</a>
            <button type="submit" class="btn btn-success pull-right">{{getSubmitBtnTxt()}}</button>
        </div>
        <div *ngIf="!showSwap" class="text-center">
            <button *ngIf="!showSwap" type="submit"
                    [class]="view == views.SHORT_REGISTER ? 'btn btn-success btn-lg' : 'btn btn-success'">{{loginView ?
                "Login" : "Register"}}
            </button>
        </div>
    </span>
</form>

<style>
    .fat-input .form-control-feedback {
        line-height: 52px;
    }

    .fat-input > input {
        height: 52px;
    }

    .fat-input {
        margin-bottom: 26px;
    }
</style>