<div class="game-history">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Your player</th>
            <th>Opponent player</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let event of getEvents()" [class]="event.winnerId == event.yourPlayer.id ? 'success' : 'danger'">
            <td>
                {{event.yourPlayer.name}}
            </td>
            <td>
                {{event.vsPlayer.name}}
            </td>
            <td>
                {{event.date}}
            </td>
            <td>
                {{event.status}}
            </td>
        </tr>
        </tbody>
    </table>

</div>