#tennio-loadout {
  .shopItem {
    margin-bottom: 10px;

    &.equipped {
      box-shadow: inset 0 0 0 2px #5cb85c;
    }

    &.otherLoadout {
      box-shadow: inset 0 0 0 2px #d9534f;
    }
  }
}