<div id="tennio-loadout" class="container-fluid text-center">
    <div class="row">
        <div class="col-lg-6">
            <div *ngIf="player && activePlayerLoadout">
                <div dnd-droppable class="panel panel-info" [dropZones]="['loadout']"
                     (onDropSuccess)="onItemDroppedInLoadout($event)">
                    <div class="panel-heading">Loadout for player: {{player?.name}}</div>
                    <div class="panel-body">
                        <div *ngFor="let slot of equipmentSlots" class="text-center panel panel-default">
                            <div class="panel-body">
                                <h4>{{slot}}</h4>
                                <div class="shopItem" dnd-draggable [dragEnabled]="true" [dropZones]="['inventory']" [dragData]="activePlayerLoadout.equippedItems[slot]"
                                     (dblclick)="unequipItem(activePlayerLoadout.equippedItems[slot])"
                                     [class]="activePlayerLoadout.equippedItems[slot] ? 'shopItem' : 'emptySlot'">
                                    {{activePlayerLoadout.equippedItems[slot] ?
                                        activePlayerLoadout.equippedItems[slot].itemType.name + " #" +activePlayerLoadout.equippedItems[slot]?.id
                                        : 'EMPTY'}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div>
                <div class="panel panel-green" dnd-droppable [dropZones]="['inventory']" (onDropSuccess)="onItemDroppedInInventory($event)">
                    <div class="panel-heading">Your inventory</div>
                    <div class="panel-body">
                        <span *ngIf="!user.items.length">EMPTY</span>
                        <div class="col-lg-6" style="display: inline-block;" *ngFor="let item of user.items" dnd-draggable
                             [dragEnabled]="true" [dropZones]="['loadout']" [dragData]="item" (dblclick)="equipItem(item)">
                            <div [class]="getClassForInventoryItem(item)">
                                <div>
                                    {{item.itemType.name}}, #{{item.id}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

