<div class="container-fluid" id="training-container">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Tab panes -->
                    <div class="tab-pane fade in active" id="free-trainings">
                        <div class="trainings">
                            <div class="training panel panel-default" *ngFor="let training of mixedTrainings">
                                <div class="panel-title text-center">
                                    {{training.code}}
                                    <span *ngIf="training.cost">({{training.cost}})</span>
                                </div>
                                <div class="panel-body text-center">
                                    <div *ngFor="let activeEvent of training.activeEvents">
                                        <div>
                                            Currently training: {{activeEvent.player.name}}
                                        </div>
                                        <div *ngIf="!isEventDone(activeEvent.completeDate)">End date:
                                            {{activeEvent.completeDate | date:'mediumTime'}}
                                        </div>
                                        <div *ngIf="isEventDone(activeEvent.completeDate)">Done training!</div>
                                        <div class="progress">
                                            <div [class]="isEventDone(activeEvent.completeDate) ? 'progress-bar progress-bar-striped active progress-bar-success' : 'progress-bar progress-bar-striped active'"
                                                 role="progressbar" [attr.aria-valuenow]="activeEvent.percentage"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 [style.width.%]="activeEvent.percentage" style="transition:none;">
                                                <span class="sr-only">{{activeEvent.percentage}} Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="!training.activeEvents?.length">
                                        This is a placeholder description for trainings, TODO. Lorem ipsum dolor sit
                                        amet, mei in augue discere, rebum viderer petentium id pri, eam et voluptaria
                                        adipiscing.
                                    </div>
                                    <button class="training-btn"
                                            *ngIf="!training.cost && !training.activeEvents?.length"
                                            type="text"
                                            (click)="onTrainingClick(training)">
                                        Train
                                    </button>
                                    <button *ngIf="training.cost && !training.activeEvents?.length" class="training-btn"
                                            (click)="onTrainingClick(training)"
                                            [disabled]="!hasMoneyForTraining(training)" data-toggle="tooltip"
                                            title="{{!hasMoneyForTraining(training) ? 'You cannot afford this training, it costs ' + training.cost : training.code}}">
                                        {{training.code}} ({{training.cost}})
                                    </button>
                                    <button class="training-btn"
                                            *ngIf="training.activeEvents?.length && isEventDone(training.activeEvents[0].completeDate)"
                                            type="text"
                                            (click)="onFinishClick(training.activeEvents[0])">
                                        Finish training
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
</div>

<div class="modal fade" id="stats-modal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Your player {{statsIncPlayer?.name}} gained stats</h4>
            </div>

            <div class="modal-body">
                <tennio-stats [player]="statsIncPlayer"></tennio-stats>
            </div>

            <div class="modal-footer text-center">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
