#training-container {
  .progress .bar {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }

  .trainings {
    display: flex;
    flex-wrap: wrap;

    .training {
      flex: 1 1 auto;
      display: inline-block;
      width: calc(25% - 5px);
      min-width: 300px;
      margin-right: 5px;
      margin-top: 6px;

      .training-btn {
        width: 100%;
        height: 100%;
        margin: 5px;
      }
    }
  }
}