<button class="btn-lg btn-success" style="width: 148px;font-weight:bold; padding: 12px 54px;border-radius: 50px;"
        *ngIf="_mmService.isNoneState()" (click)="openGameSelectionModal()">Play
</button>

<div *ngIf="_mmService.isInQueue()" style="width: 128px;">
    <button class="btn btn-danger" style="width: 128px;" (click)="leaveQueue()">
        <div class="row">
            <i class="fa fa-clock-o" style="margin-right:1px"></i>{{_mmService.timeInQueue}}
            <i class="fa fa-user" style="margin-right:1px"></i>{{_mmService.totalPlayersInQueue}}
        </div>
        Leave queue
    </button>
</div>

<div class="modal fade" data-backdrop="false" id="game-selection-modal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Select game mode</h4>
            </div>

            <div class="modal-body text-center">
                <button class="btn-lg btn-success" (click)="hideGameSelectionModal(); joinQueue()">
                    Duel
                </button>
                <button class="btn-lg btn-success" (click)="hideGameSelectionModal(); playVSAI()">
                    vs Computer
                </button>
            </div>

            <div class="modal-footer text-center">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="_mmService.isWaitingForGame()">
    <div>
        Time left for game start: {{_mmService.timeLeftUntilGame}}
    </div>
</div>

<button class="btn-lg btn-success" *ngIf="_mmService.isGameReady()" (click)="navigateToGame()">Go to game</button>

<div class="modal fade" data-backdrop="false" id="game-ready-modal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Your game is ready!</h4>
            </div>

            <div class="modal-body text-center">
                <button class="btn-lg btn-success" [disabled]="_mmService.isGameOpen" (click)="modalNavigateToGame()">Go
                    to game
                </button>
            </div>

            <div class="modal-footer text-center">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-backdrop="false" id="game-decision-modal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">An opponent has been found!</h4>
            </div>
            <div class="modal-body text-center">
                <div *ngIf="_mmService.matchupPrincipal?.decision == null">
                    <button class="btn-lg btn-success" (click)="acceptGame()">Accept</button>
                    <button class="btn-lg btn-danger" (click)="declineGame()">Decline</button>
                </div>
                <div>
                    Time left: {{_mmService.matchupTimeLeft}}
                </div>
                <div *ngIf="_mmService.matchupPrincipal?.decision !== null">
                    Waiting for opponent to respond...
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-backdrop="false" id="game-expired" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">You failed to accept your game!</h4>
            </div>
            <div class="modal-body text-center">
                A game was found but you did not respond in time.
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
