@import "../../../tennio.scss";

#navbar {
  margin-bottom: 0;
  border: none;
  height: 80px;

  .container-fluid {
    margin-top: 7px;
  }

  @media (min-width: $navbar-collapse-width) {
    .show-on-collapse {
      display: none;
    }
  }

  @media (max-width: $navbar-collapse-width) {
    .navbar-header {
      float: none;
    }
    .navbar-toggle {
      display: block;
    }
    .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
      position: absolute;
      z-index: 1;
      width: 100%;
      background:white;

      li:first-child {
        border-top: 1px solid #b9b9b9;
      }
      li {
        border-bottom: 1px solid #b9b9b9;
      }
    }
    .navbar-collapse.collapse {
      display: none !important;
    }
    .navbar-nav {
      float: none !important;
      margin: 7.5px -15px;
    }
    .navbar-nav > li {
      float: none;
    }
    .navbar-nav > li > a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .navbar-text {
      float: none;
      margin: 15px 0;
    }
    .navbar-collapse.collapse.in {
      display: block !important;
    }
    .collapsing {
      overflow: hidden !important;
    }
    .show-on-collapse {
      display: block;
    }
    .hide-on-collapse {
      display: none;
    }
  }

  .navbar-header {
    background-color: $tennio-color;
    margin-top: -7px;
    padding-bottom: 15px;
    margin-left: -15px;

    @media (max-width: $navbar-collapse-width) {
      padding-top: 15px;
      padding-right: 15px;
      width: calc(100% + 30px);
      padding-left: 12px;
    }

    @media (min-width: $navbar-collapse-width + 1px) {
      padding: 16px 32px 14px $logo-offset + 15px;
    }

    .navbar-brand {
      width: 172px;
      margin-right: 0;
      @media (max-width: $navbar-collapse-width) {
        margin-left: 18px;
      }
    }
  }

  .navbar-nav {
    &.navbar-left {
      > li {
        text-align: center;
        text-transform: uppercase;
        @media (min-width: $navbar-collapse-width) {
          padding: 8px 18px 0 18px;
          &:after {
            content: "";
            background: rgba(0, 0, 0, 0.2);
            position: absolute;
            top: 33.3%;
            right: 0;
            height: 50%;
            width: 1px;
          }
        }

        > a {
          color: black;
        }
      }
    }
  }

  .navbar-right {
    margin-right: 28px;
    #login-btn {
      color: $tennio-color;
      border-color: $tennio-color;
      font-weight: 600;
      > i {
        margin-right: 6px;
      }
      padding: 5px 18px;
    }
  }

  .icon-bar {
    background-color: #ddd;
  }

  .btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
    border-radius: 23px;
  }
}