<nav class="navbar navbar-default" id="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <!--<li><a href="#">news</a></li>-->
                <!--<li><a href="#">about</a></li>-->
                <!--<li><a href="#">help</a></li>-->
                <!--<li><a href="#">forums</a></li>-->
                <!--<li><a href="#">friends</a></li>-->
                <li class="show-on-collapse login-btn"><a href="#">login</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right hide-on-collapse">
                <li *ngIf="!_loginService.isLoggedIn()">
                    <a href="#">
                        <div class="btn btn-default login-btn" id="login-btn"><i class="glyphicon glyphicon-lock"></i>Log
                            in
                        </div>
                    </a>
                </li>

                <li *ngIf="_loginService.isLoggedIn() && user.username">
                    {{ user.username }}
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<tennio-login [btnClass]="'login-btn'"></tennio-login>