<div class="container-fluid" id="online-players">
    <div class="row">
        <div class="col-xs-6 statistic text-center">
            <div class="description">
                Registered Players
            </div>
            <h1 class="value">
                {{stats.registeredPlayers}}
            </h1>
        </div>
        <div class="col-xs-6 statistic text-center">
            <div class="description">
                Currently online
            </div>
            <h1 class="value">
                {{stats.currentlyOnline}}
            </h1>
        </div>
    </div>
    <div class="row text-center" id="country-statistics">
        <div class="description top-countries">
            Top countries by player count
        </div>
        <div class="col-md-7 text-right">
            <img class="img-responsive" id="country-img" src="../../../assets/map.svg">
        </div>
        <div class="col-md-5 country-col text-left" id="country-list">
            <div class="row country" *ngFor="let country of stats.shortPlayersByCountry">
                <div class="col-xs-6 country">
                    <span class="flag flag-{{country[0]}}"></span>
                    <span class="country-name">
                        {{getCountryName(country[0])}}
                    </span>
                </div>
                <div class="col-xs-6">
                    <span>{{country[1]}} players</span>
                </div>
            </div>
        </div>
    </div>
</div>