@import "../../../tennio.scss";

#online-players {
  color: white;
  background: #333;
  padding: 24px;

  .statistic, #country-statistics {
    border: 1px solid white;
  }

  .description {
    padding-top: 16px;
    font-size: 12px;
    font-weight: 600;
    color: #8b8b8b;
    text-transform: uppercase;
  }

  .value {
    font-weight: 700;
    margin-top: 2px;
    font-size: 48px;
  }

  .row {
    margin: 0 auto;
    .col-xs-6:first-child {
      margin-right: -1px;
    }
  }

  #country-statistics {
    padding: 4px 0 24px 0;
    border-top: none;

    .row:not(:first-child) {
      padding-top: 6px;
    }

    .top-countries {
      text-transform: none;
      font-size: 14px;
    }

    #country-img {
      display: inline;
      max-height: 272px;
      @media (max-width: 991px) {
        display: none;
      }
    }

    #country-list {
      margin-left: auto;
      margin-right: auto;

      .country {
        line-height: 32px;
        position: relative;
        .flag {
          display: inline-block;
          float: left;
          transform: scale(0.75);
        }

      }

      .players {
        padding-left: 4px;
      }

      .player-count {
        padding-right: 0;
        font-weight: 600;
      }
    }

  }
}