<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Admin panel</h1>
            <!-- <button (click)="connect()">Connect Button for WebSockets</button>-->


            <div class="col-lg-12">
                <div class="panel panel-default">
                    <!-- /.panel-heading -->
                    <div class="panel-body">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#trainings" data-toggle="tab">Trainings</a>
                            </li>
                            <li><a href="#tournament" data-toggle="tab">Tournaments</a>
                            </li>
                            <li><a href="#user" data-toggle="tab">Users</a>
                            </li>
                            <li><a href="#player" data-toggle="tab">Players</a>
                            </li>
                            <li><a href="#item" data-toggle="tab">Items</a>
                            </li>
                            <li><a href="#achievement" data-toggle="tab">Achievements</a>
                            </li>
                            <li><a href="#sims" data-toggle="tab">Simulations</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="trainings">
                                <tennio-admin-trainings></tennio-admin-trainings>
                            </div>
                            <div class="tab-pane fade" id="tournament">
                                <tennio-admin-tournament></tennio-admin-tournament>
                            </div>
                            <div class="tab-pane fade" id="user">
                                <paginator [endpoint]="'/admin/user/'" [title]="'Users'"></paginator>
                            </div>
                            <div class="tab-pane fade" id="player">
                                <paginator [endpoint]="'/admin/player/'" [title]="'Players'"></paginator>
                            </div>
                            <div class="tab-pane fade" id="item">
                                <tennio-admin-items></tennio-admin-items>
                            </div>
                            <div class="tab-pane fade" id="achievement">
                                <tennio-admin-achievements></tennio-admin-achievements>
                            </div>
                            <div class="tab-pane fade" id="sims">
                                <tennio-admin-sims></tennio-admin-sims>
                            </div>
                        </div>

                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-6 -->

        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->