<div class="text-center">
    <button type="button" class="btn-success" style="margin: 12px 0;" (click)="onNewClick()">New Item</button>
</div>
<paginator #itemsPaginator *ngIf="!editView" [endpoint]="'/admin/item/'" [title]="'Items'" [editCB]="onEditClick()"></paginator>
<div *ngIf="editView">
    <form *ngIf="selectedItem" #f="ngForm" (ngSubmit)="save()">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" required name="name"
                   class="form-control" [(ngModel)]="selectedItem.name">
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" min="0" id="price" required name="price"
                   class="form-control" [(ngModel)]="selectedItem.price">
        </div>
        <div class="form-group">
            <label for="isForSale">For sale:</label>
            <input type="checkbox" name="isForSale" id="isForSale" [(ngModel)]="selectedItem.forSale">
            <span class="pull-right">
                <button type="button" (click)="statsModal()">Edit stats</button>
            </span>
        </div>
        <div class="form-group">
            <label for="itemType">Item Type:</label>
            <select name="itemType" id="itemType" [(ngModel)]="selectedItem.type">
                <option *ngFor="let id of itType" [value]="id">
                    {{id}}
                </option>
            </select>
            <div class="form-group pull-right" *ngIf="selectedItem.type == 'EQUIPABLE'">
                <label for="equipmentType">Equipment Type:</label>
                <select name="equipmentType" id="equipmentType" [(ngModel)]="selectedItem.equipmentType">
                    <option *ngFor="let id of eqType" [value]="id">
                        {{id}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="usages">Usages (games):</label>
            <input type="number" min="0" id="usages" required name="usages"
                   class="form-control" [(ngModel)]="selectedItem.usages">
        </div>
        <span class="pull-left">
            <button type="button" (click)="onCloseEditClick()" class="btn btn-warning">Back</button>
        </span>
        <span class="pull-right">
            <button type="submit" class="btn btn-success">Save</button>
        </span>
    </form>
</div>

<div *ngIf="selectedItem" class="modal fade" id="stats-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form #f="ngForm" style="text-align: center;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Edit stats</h4>
                </div>
                <div class="modal-body">
                        <div style="display:inline-block; max-width: 200px; margin: 6px 15px;" *ngFor="let stat of statsList">
                            <label class="text-capitalize" for="{{stat}}">{{stat}}</label>
                            <input type="number" min="0" id="{{stat}}" required name="{{stat}}"
                                   class="form-control" [(ngModel)]="selectedItem.stats[stat]">
                        </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn-success" data-dismiss="modal">OK</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

