<button (click)="newTournament()">New Tournament</button>
<ul>
    <li *ngFor="let tournament of tournaments" (click)="onSelect(tournament)"
        [class.selected]="tournament === selectedTournament">
        {{tournament.name}}
    </li>
</ul>

<form *ngIf="selectedTournament" #f="ngForm" (ngSubmit)="save()">
    <div class="form-group">
        <label for="max_players">Max Players</label>
        <input type="number" id="max_players" required name="maxplayers"
               class="form-control" [(ngModel)]="selectedTournament.maxPlayers">
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" required name="name"
               class="form-control" [(ngModel)]="selectedTournament.name">
    </div>
    <div class="form-group">
        <label for="ppool">Total prize pool</label>
        <input type="number" id="ppool" required name="prizepool"
               class="form-control" [(ngModel)]="selectedTournament.prizePool">
    </div>
    <div class="form-group">
        <label>Start time</label>
        <date-picker [disabled]="isDisabled(0)" [minDate]="minStartTime" [id]="'start-date'"
                     [(date)]="selectedTournament.startDate"></date-picker>
    </div>
    <div class="form-group">
        <label>End time</label>
        <date-picker [disabled]="isDisabled(1)" [minDate]="minEndTime" [id]="'end-date'"
                     [(date)]="selectedTournament.endDate"></date-picker>
    </div>
    <span class="pull-left">
        <button type="submit" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
    </span>
    <span class="pull-right">
        <button type="button" class="btn btn-primary" [disabled]="!canStartTournament()" (click)="start()">Start Tournament</button>
        <button type="button" class="btn btn-warning" [disabled]="!canEndTournament()" (click)="end()">End Tournament</button>
    </span>
</form>
<!-- *ngIf="selectedTraining" -->
