<div class="text-center">
    <button type="button" class="btn-success" style="margin: 12px 0;" (click)="onNewClick()">New Item</button>
</div>

<paginator #itemsPaginator *ngIf="!editView" [endpoint]="'/admin/achievement/'" [title]="'Items'"
           [editCB]="onEditClick()" [deleteCB]="onDeleteClick()"></paginator>
<div *ngIf="editView">
    <form *ngIf="selectedItem" #f="ngForm" (ngSubmit)="save()">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" required name="name"
                   class="form-control" [(ngModel)]="selectedItem.name">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" id="description" required name="description"
                   class="form-control" [(ngModel)]="selectedItem.description">
        </div>
        <div class="form-group">
            <label for="reward">Reward:</label>
            <input type="number" min="0" id="reward" required name="reward"
                   class="form-control" [(ngModel)]="selectedItem.reward">
        </div>
        <div class="form-group">
            <label for="requirement">requirement:</label>
            <input type="number" min="0" id="requirement" required name="requirement"
                   class="form-control" [(ngModel)]="selectedItem.requirement">
        </div>
        <div class="form-group">
            <label for="itemType">Achievement Type:</label>
            <select name="itemType" id="itemType" [(ngModel)]="selectedItem.type">
                <option *ngFor="let id of itType" [value]="id">
                    {{id}}
                </option>
            </select>
        </div>
        <span class="pull-left">
            <button type="button" (click)="onCloseEditClick()" class="btn btn-warning">Back</button>
        </span>
        <span class="pull-right">
            <button type="submit" class="btn btn-success">Save</button>
        </span>
    </form>
</div>