<button (click)="newTraining()"> New Training</button>
<ul>
    <li *ngFor="let training of trainings" (click)="onSelect(training)"
        [class.selected]="training === selectedTraining">
        {{training.code}}
    </li>
</ul>

<div *ngIf="selectedTraining">
    <div class="form-group">
        <label for="id">ID</label>
        <input type="text" id="id" readonly="true"
               class="form-control" [(ngModel)]="selectedTraining.id">
    </div>
    <div class="form-group">
        <label for="code">Code</label>
        <input type="text" id="code"
               class="form-control" [(ngModel)]="selectedTraining.code">
    </div>
    <div class="form-group">
        <label for="length">Length (seconds)</label>
        <input type="text" id="length"
               class="form-control" [(ngModel)]="selectedTraining.length">
    </div>
    <div class="form-group">
        <label for="training-type">Training Type</label>
        <select type="text" id="training-type"
                class="form-control" [(ngModel)]="selectedTraining.trainingType">
            <option value="FREE">Free</option>
            <option value="PAID">Paid</option>
        </select>
    </div>
    <div class="form-group">
        <label for="cost">Cost</label>
        <input type="number" id="cost"
               class="form-control" [(ngModel)]="selectedTraining.cost">
    </div>
    <div class="form-group">
        <label for="cost">EXP delta (percent)</label>
        <input type="number" id="delta"
               class="form-control" [(ngModel)]="selectedTraining.expDelta">
    </div>

    <h4>Stats</h4>

    <div class="col-lg-6">
        <div class="form-group">
            <label for="speed">Speed</label>
            <input type="number" id="speed"
                   class="form-control" [(ngModel)]="selectedTraining.statIncrease.speed">
        </div>
        <div class="form-group">
            <label for="backhand">Backhand</label>
            <input type="number" id="backhand"
                   class="form-control" [(ngModel)]="selectedTraining.statIncrease.backhand">
        </div>

        <div class="form-group">
            <label for="forehand">Forehand</label>
            <input type="number" id="forehand"
                   class="form-control" [(ngModel)]="selectedTraining.statIncrease.forehand">
        </div>
        <div class="form-group">
            <label for="server">Serve</label>
            <input type="number" id="server"
                   class="form-control" [(ngModel)]="selectedTraining.statIncrease.server">
        </div>
        <div class="form-group">
            <label for="precision">Precision</label>
            <input type="number" id="precision"
                   class="form-control" [(ngModel)]="selectedTraining.statIncrease.precision">
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <label for="armStrength">Arm Strength</label>
            <input type="number" id="armStrength"
                   class="form-control" [(ngModel)]="selectedTraining.statIncrease.armStrength">
        </div>
        <div class="form-group">
            <label for="technique">Technique</label>
            <input type="number" id="technique"
                   class="form-control" [(ngModel)]="selectedTraining.statIncrease.technique">
        </div>
        <div class="form-group">
            <label for="mentalStrength">Mental Strength</label>
            <input type="number" id="mentalStrength"
                   class="form-control" [(ngModel)]="selectedTraining.statIncrease.mentalStrength">
        </div>
        <div class="form-group">
            <label for="fitness">Fitness</label>
            <input type="number" id="fitness"
                   class="form-control" [(ngModel)]="selectedTraining.statIncrease.fitness">
        </div>
        <div class="form-group">
            <label for="reaction">Reaction</label>
            <input type="number" id="reaction"
                   class="form-control" [(ngModel)]="selectedTraining.statIncrease.reaction">
        </div>
        <div class="form-group">
            <label for="recovery">Recovery</label>
            <input type="number" id="recovery"
                   class="form-control" [(ngModel)]="selectedTraining.statIncrease.recovery">
        </div>
    </div>
    <button (click)="save()">Save</button>
    <button class="btn btn-danger" (click)="delete()">Delete</button>
</div>
<!-- *ngIf="selectedTraining" -->
