<div *ngIf="data">
    Red win perc: {{data.redWinPerc}}%
    Blue win perc: {{data.blueWinPerc}}%
</div>
<table class="table-bordered table" *ngIf="data">
    <thead>
    <tr>
        <th *ngFor="let d of theads">{{d}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let x of data.results">
        <td *ngFor="let z of getValues(x)">
            {{z}}
        </td>
    </tr>
    </tbody>
</table>

