@media (min-width: 1400px) {
	.container-wide {
		width: 1350px;
	}
}

@media (min-width: 1900px) {
	.container-wide {
		width: 1650px;
	}
}

.narrower-container {
	@media (min-width: 1400px) {
		& {
			width: 1300px;
		}
	}
	@media (min-width: 1900px) {
		& {
			width: 1450px;
		}
	}
}

