<div id="wrapper">
    <div [ngStyle]="{'min-height': clientHeight + 'px', 'margin-bottom': '-57px'}" id="{{loginService.isLoggedIn() ? 'loggedin' : 'loggedout'}}">
        <div id="white-bg-wrapper" *ngIf="loginService.isLoggedIn()" [class]="containerClass == 'container' ? '' : 'full-wrap'"></div>
        <tennio-game-menu *ngIf="shouldDisplayMenu()"></tennio-game-menu>
        <div #container class="{{loginService.isLoggedIn() ? containerClass : ''}}">
            <router-outlet></router-outlet>
        </div>
        <div id="white-bg-wrapper-end" *ngIf="loginService.isLoggedIn()">
            <div></div>
        </div>
        <div [style.height.px]="57"></div>
    </div>
    <tennio-footer [style.position]="'relative'"></tennio-footer>
    <app-snotify></app-snotify>
</div>
<!-- /#wrapper -->