<form #f="ngForm" *ngIf="!modal" (ngSubmit)="createPlayer()" style="text-align: center;">
    <div class="form-group">
        <div class="form-group">
            <label for="player_name">Player name</label>
            <input type="text" id="player_name" required name="player_name"
                   class="form-control" [(ngModel)]="playerName">
        </div>
        <div class="form-group">
            <label for="player_name">Player name</label>
            <country-picker></country-picker>
        </div>
    </div>
    <button type="submit" icon="fa-external-link-square">
        Create player
    </button>
</form>

<modal #cpModal *ngIf="modal">
    <modal-header [show-close]="true">
        <h4 class="modal-title text-center">Create a player</h4>
    </modal-header>
    <form #f="ngForm" (ngSubmit)="createPlayer()" style="text-align: center;">
        <modal-body>
            <div class="form-group">
                <div class="form-group">
                    <label for="player_name">Player name</label>
                    <input type="text" id="player_name" required name="player_name"
                           class="form-control" [(ngModel)]="playerName">
                </div>
            </div>
            <div class="form-group">
                <country-picker #cp [label]="'Nationality'"></country-picker>
            </div>
        </modal-body>
        <modal-footer class="text-center" [show-default-buttons]="false">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
            <button type="submit" class="btn btn-success" icon="fa-external-link-square">
                Create player
            </button>
        </modal-footer>
    </form>
</modal>