<div>
    <div *ngFor="let item of shopItems" (click)="onItemClick(item)" class="col-1-4" style="float:left">
        <div class="shopItem">
            <h4>{{item.name}}</h4>
            <h4>{{item.price}} $</h4>
            <button class="btn btn-success" (click)="onItemBuyClick(item)">Buy</button>
            <button class="btn btn-default" (click)="onItemDetails(item)">Details</button>
        </div>
    </div>
</div>
<!-- Player stats modal -->
<div class="modal fade" id="item-modal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">{{viewingItem?.name}}, #{{viewingItem?.id}}</h4>
            </div>

            <div class="modal-body">
                <tennio-stats [itemStats]="viewingItem?.stats"></tennio-stats>
            </div>

            <div class="modal-footer" style="text-align: center">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->