<div id="front-page" *ngIf="!(loginService.isLoggedIn() && router.url == '/')">
    <tennio-header></tennio-header>
    <div class="container-fluid" id="center-content">
        <div class="img-text-cont">
            <img id="tennis-bg" src="../../../assets/bg.png">
            <div class="front-text">
                <div class="row">
                    <h1 class="title-text">Online Tennis</h1>
                </div>
                <div class="row">
                    <h2 class="title-text">Manager game</h2>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="{{ loginService.isLoggedIn() ? 'col-md-12' : 'col-md-6 col-md-push-6' }}">
                <div class="row-fluid {{ loginService.isLoggedIn() ? 'margin-center' : '' }}" id="abilities">
                    <div class="row ability">
                        <div class="img-left tournaments-img"></div>
                        <h3 class="title">Play in Tournaments</h3>
                        <div class="description">To be the best you need to have perfect tactics to beat the best.</div>
                    </div>
                    <div class="row ability">
                        <div class="img-left equipment-img"></div>
                        <h3 class="title">Equip Yourself</h3>
                        <div class="description">Train hard, play easy. It's not good to enter competitions unless you
                            have
                            exercised and trained your player correctly
                        </div>
                    </div>
                    <div class="row ability">
                        <div class="img-left player-img"></div>
                        <h3 class="title">Create your player</h3>
                        <div class="description">Sign up for one of the most eagerly awaited online games of the year,
                            the
                            next step
                            is to create your perfect tennis player.
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="!loginService.isLoggedIn()" class="col-md-6 col-md-pull-6" id="join-now">
                <h2>Join in the game today!</h2>
                <tennio-login-form id="join-now-form" [view]="view" [showSwap]="false"></tennio-login-form>
            </div>

        </div>

        <tennio-onlineplayers></tennio-onlineplayers>

    </div>
</div>