@import "../../../tennio.scss";

#front-page {
  background: $front-bg-color;
  overflow-x: hidden;

  #center-content {
    padding-left: 0;
    padding-right: 0;
    background: white;

    @media (min-width: $navbar-collapse-width) {
      margin: 0 $logo-offset 0;
    }

    @media (max-width: $navbar-collapse-width) {
      margin: 0 15px 0;
    }

    .img-text-cont {
      position: relative;
      .front-text {
        position: absolute;
        color: white;
        left: 17vw;
        top: 0;
      }

      h1 {
        font-weight: 700;
        font-size: 104px;
        margin-top: 125px;
      }
      h2 {
        margin-top: -8px;
        font-size: 66px;
      }

      @media (max-width: 1920px) {
        h1 {
          margin-top: 6.5vw;
          font-size: 5vw;
        }

        h2 {
          font-size: 3.5vw;
        }
      }

      #tennis-bg {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
      }
    }

    $center-collapse-width: 990px;

    #abilities {
      padding-right: 12px;
      max-width: 505px;
      margin-bottom: 28px;
      margin-left: auto;
      margin-right: auto;

      @media (min-width: $center-collapse-width) {
        margin-left: 24px;
      }

      .ability {
        margin: 36px 4px 0 4px;

        .title {
          font-weight: 900;
          margin-top: 4px;
          margin-bottom: 14px;
        }

        .description {
          font-size: 12px;
          color: rgba(0, 0, 0, 0.4);
        }

        .img-left {
          background-size: 100% auto;
          width: 80px;
          height: 80px;
          float: left;
          margin-right: 16px;
          background-repeat: no-repeat;

          &.player-img {
            background-image: url(../../../assets/people.svg);
          }

          &.tournaments-img {
            background-image: url(../../../assets/trophy.svg);
          }

          &.equipment-img {
            background-image: url(../../../assets/tennis.svg);
          }
        }
      }
    }

    #join-now {
      background: $front-bg-color;
      padding: 16px 32px 32px 32px;

      @media (min-width: $center-collapse-width + 2px) {
        float: right;
      }

      @media (min-width: 1102px) {
        margin-top: -37px;
        max-width: 480px;
      }

      h2 {
        text-align: center;
        color: $tennio-color;
        font-weight: 700;
        margin-bottom: 32px;
      }
    }
  }

  .margin-center {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}