<div class="container" style="margin-top:100px"*ngIf="success !== null">
    <div [class]="success === true ? 'panel panel-success' : 'panel panel-danger'">
        <div class="panel-heading">
            {{success === true ? "Success!" : "Error!"}}
        </div>
        <div class="panel-body">
            {{success === true ? "Successfully confirmed changes!" : error}}
        </div>
    </div>
</div>
<div class="container" style="margin-top:100px" *ngIf="changePW">
    <form #f="ngForm" (ngSubmit)="submit(f)">
        <div class="panel panel-default">
            <div class="panel-heading">
                Change password
            </div>
            <div class="panel-body">
                <div class="form-group has-feedback">
                    <i class="glyphicon glyphicon-asterisk form-control-feedback"></i>
                    <input pattern="(\S){6,}" title="6 characters minimum " type="password" id="new-password"
                           class="form-control" name="newPassword" ngModel #password="ngModel"
                           placeholder="New password"/>
                </div>
                <div class="form-group has-feedback">
                    <i class="glyphicon glyphicon-asterisk form-control-feedback"></i>
                    <input pattern="(\S){6,}" title="6 characters minimum" type="password" id="rpt-new-password"
                           class="form-control" name="rnewPassword" ngModel #password="ngModel"
                           placeholder="Repeat new password"/>
                </div>
            </div>
        </div>
        <div class="form-group has-feedback text-center">
            <button type="submit" [disabled]="!canSubmit(f)" class="btn btn-success btn-large">Update password
            </button>
        </div>
    </form>
</div>