<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" id="navbar-top" role="navigation" style="margin-bottom: 0">
    <div class="container-wide">
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="'/'"></a>
        </div>
        <div id="mm-container" *ngIf="user?.activePlayer">
            <tennio-matchmaking></tennio-matchmaking>
        </div>
        <ul class="nav navbar-left navbar-top-links" *ngIf="user">
            <li *ngIf="user?.players?.length" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    <i class="icon icon-avatar"></i>
                    {{user?.activePlayer?.name}}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" style="padding: 0">
                    <li *ngFor="let player of user?.players" class="col-xs-12 text-center"
                        (click)="setActivePlayer(player?.id)">
                        {{player?.name}}
                    </li>
                    <li class="col-xs-12 text-center bg-success" *ngIf="user?.players?.length < 3"
                        (click)="createPlayerModal.showModal()">
                        CREATE NEW
                    </li>
                </ul>
            </li>
            <li class="money navbar-item">
                <a><i class="icon icon-money"></i>{{user?.money}} coins</a>
            </li>
            <li class="balls navbar-item">
                <a><i class="icon icon-tennis-ball"></i>{{user?.balls}} balls</a>
            </li>
        </ul>

        <ul class="nav navbar-top-links navbar-right" *ngIf="user">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <li class="dropdown user-dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon icon-people"></i>
                    <span class="username">{{user.username}}</span>
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a [routerLink]="['/settings']"><i class="fa fa-gear fa-fw"></i>Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a (click)="logout()"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
                    </li>
                    <li *ngIf="isAdmin === true">
                        <a [routerLink]="['/admin']"><i class="fa fa-futbol-o fa-fw"></i>Admin</a>
                    </li>
                    <li *ngIf="isAdmin === true">
                        <a (click)="reset()">SIMULATE RELOG</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown" id="notification-dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" (click)="stopFlashing()">
                    <div class="bell-wrapper">
                        <i class="icon icon-bell"></i>
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-alerts" *ngIf="newNotifications.length >= 1">
                    <li *ngFor="let notification of newNotifications">
                        <a (click)="onNotificationSelect(notification)">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> {{notification.additionalInfo}}
                                <span class="pull-right text-muted small">{{notification.notificationEventStart | date:'short'}}</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" (click)="clearAll()">
                            <strong>Clear notifications</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <div class="dropdown-menu text-center" *ngIf="newNotifications.length < 1">
                <span class="text-center">
                    No new notifications!
                </span>
                </div>
            </li>
        </ul>
    </div>
</nav>

<nav class="navbar-collapse collapse in" id="lower-menu" role="navigation" *ngIf="user">
    <div class="container">
        <div class="navbar-top-links">
            <ul class="nav">
                <li class="navbar-item">
                    <a [routerLink]="['/dashboard']" [class]="'dashboard ' + getMenuItemClass('dashboard')">
                        <i class="icon icon-field"></i>
                    </a>
                </li>
                <li class="navbar-item">
                    <a [routerLink]="['/tournament']" [class]="'tournaments ' + getMenuItemClass('tournament')">
                        <i class="icon icon-trophy"></i>
                    </a>
                </li>
                <li class="navbar-item">
                    <a [routerLink]="['/equipment']" [class]="'equipment ' + getMenuItemClass('equipment')">
                        <i class="icon icon-equipment"></i>
                    </a>
                </li>
                <li class="navbar-item">
                    <a [routerLink]="['/trainings']" [class]="'training ' + getMenuItemClass('trainings')">
                        <i class="icon icon-training"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<create-player #cPlayer [modal]="true"></create-player>