@import "../../../tennio.scss";

$off-white: rgba(255, 255, 255, 0.95);
$hover-color: rgba(255, 255, 255, 0.2);

@mixin noBG {
    &:hover, &:active, &:visited, & {
        background: none !important;
    }
}

#navbar-top {
    height: 80px;
    line-height: 40px;
    background: white;
    -webkit-box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);

    .navbar-brand {
        margin-top: 15px;
        margin-right: 0;
        width: 172px;
    }

    .navbar-header {
        background-color: $tennio-color;
        width: 304px;
        height: 80px;
        padding: 0 0 0 100px;
        margin-left: -80px;
    }

    #mm-container {
        @media(min-width: 1432px) {
            margin-left: calc(50% - 74px);
        }
        @media(max-width: 1432px) {
            display: inline-block;
        }
        height: 0;
        line-height: 80px;
    }

    .navbar-left {
        height: 80px;
        li {
            display: inline-block;
            &.money, &.balls {
                & > a {
                    @include noBG();
                }
            }
        }
    }

    .navbar-right {
        height: 80px;
        li, button, tennio-new-notification {
            float: right;
        }

        li, tennio-new-notification > li {
            & > i, & > a:first-child > i {
            }

            a:first-child {
                &:focus, &:hover {
                    background-color: $hover-color;
                }
            }
        }

        .navbar-toggle {
            .icon-bar {
                background-color: $off-white;
            }
            &:focus, &:hover {
                background-color: $hover-color;
            }
        }

        .dropdown-user {
            li {
                width: 100%;
            }
        }

        .navbar-toggle {
            margin-left: 10px;
        }

        .user-dropdown {
            .dropdown-toggle {
                padding: 18px 18px 18px 12px;
            }
            .icon-people {
                background-size: 36px 36px;
                padding: 18px 28px;
                border: 1px solid $tennio-color;
                border-radius: 999px;
                background-position: center;
                vertical-align: sub;
            }
            .username {
                margin-left: 8px;
                font-weight: bold;
                font-size: 15px;
            }
        }
    }
    .navbar-top-links > li > a {
        padding: 20px 12px;
        color: $tennio-color;
        font-weight: 500;
    }
}

#lower-menu {
    $left-menu-items: "dashboard", "tournaments", "equipment", "training";
    overflow-y: inherit;
    margin-top: 12px;

    ul {
        text-align: center;
    }

    li {
        text-transform: capitalize;
        float: left;
        @each $item in $left-menu-items {
            .#{$item}:after {
                content: "#{$item}";
            }
        }
    }

    @media(max-width: 515px), (min-width: 661px) {
        .navbar-item > a {
            padding: 10px 6px;
            line-height: 28px;
        }
    }

    @media(max-width: 385px) {
        text-align: center;
        .navbar-right, .navbar-left li {
            float: none;
        }

        li a {
            padding-top: 10px;
            padding-bottom: 5px;
        }
    }

    .navbar-item {
        float: none;

        & > a {
            @include noBG();
        }

        .icon {
            background-size: 32px 32px;
            background-position: center;
            padding: 22px 48px;
            display: block;
        }
    }

    .navbar-item > a {
        color: rgba(0, 0, 0, .8);
    }

    .navbar-top-links li:last-child {
        margin-right: 0;
    }

    .selected {
        color: #969696 !important;
        .icon {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
        }
    }
}

#notification-dropdown {
    margin-right: 0;

    .dropdown-toggle {
        padding: 20px 0 17px 12px !important;
        @include noBG();
    }

    .bell-wrapper {
        border: 1px solid #969696;
        border-radius: 999px;

        .icon-bell {
            padding: 0px 20px;
            background-position: center;
            background-size: 18px 18px;
        }
    }
}