<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bell fa-fw"></i> Notifications
    </div>
    <div class="panel-body">
        <div class="list-group">
            <a *ngFor="let notification of notifications" (click)="onNotificationSelect(notification)"
               class="list-group-item">
                <a *ngIf="!notification.sticky" class="pull-right rm-notification"
                   (click)="removeNotification(notification)" style="margin-left:5px">X</a>
                <i class="fa fa-comment fa-fw" [style.color]="getNotificationColor(notification)"></i>
                {{notification.additionalInfo}}
                <span class="pull-right text-muted small"><em>{{notification.notificationEventStart | date:'short'}}</em>
                                </span>
            </a>

            <a *ngIf="notifications.length == 0" class="list-group-item"> You have no notifications</a>

        </div>
    </div>
</div>