@import "assets/flags.scss";
@import "tennio.scss";

#wrapper {
    background-color: #f5f5f5;
}

#white-bg-wrapper {
    @include centerX();
    position:fixed;
    background-color: white;
    top: 0;
    height: 100%;
    width: 100%;

    @media (min-width: 768px) {
        width: 768px;
    }
    @media (min-width: 992px) {
        width: 982px;
    }
    @media (min-width: 1200px) {
        width: 1182px;
    }
    @media (min-width: 1400px) {
        width: 1300px;
    }
    @media (min-width: 1600px) {
        width: 80%;
    }

    &.full-wrap {
        left: 0;
        transform: none;
        width: 100%;
    }
}

#white-bg-wrapper-end {
    position: relative;
    width: 100%;
    margin-top: 52px;
    div {
        position:fixed;
        background-color: #f5f5f5;
        height: 100%;
        width: 100%;
    }
}

h2 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

button {
    font-family: Arial, serif;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #cfd8dc;
}

button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}

/* everywhere else */
* {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    margin-bottom: 20px;
}

.col-1-4 {
    width: 25%;
    padding-left: 20px;
    padding-bottom: 20px;
}

.shopItem {
    /*background: #74AA38;*/
    background: rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    max-height: 100px;
    border-radius: 3px;
    border: 1px rgba(0, 0, 0, 0.4);
    &:hover {
        cursor: pointer;
        background: rgba(0, 0, 0, .15);
    }
}

.wrapperElement {
    width: 980px;
    margin: auto;
}

html {
    overflow-x: hidden;
}

.container-wide {
    width: calc(100% - 80px);
    padding-right: 40px;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 2560px) {
        & {
            width: 2480px;
        }
    }

    @media (max-width: 1090px) {
        padding-right: 0;
        padding-left: 0;
    }
}

.btn-success {
    background-color: $tennio-color !important;

    &:hover {
        background-color: #6DB834 !important;
    }
}

.no-top-margin {
    margin-top: 0;
}

.navbar-brand {
    width: 150px;
    background: url(assets/tennio.com-white.svg) no-repeat left 12px;
    margin-right: 12px;
}

.icon {
    padding: 0 20px 0 0;
    background-position: left center;
    background-size: 16px 16px;
    background-repeat: no-repeat;
}

.icon-tennis-ball {
    background-image: url(assets/tennis-ball.svg);
}

.icon-money {
    background-image: url(assets/money.svg);
}

.icon-avatar {
    background-image: url(assets/avatar-full.svg);
}

.icon-bell {
    background-image: url(assets/bell.svg);
}

.icon-people {
    background-image: url(assets/people.svg);
}

.icon-trophy {
    background-image: url(assets/trophy.svg);
}

.icon-equipment {
    background-image: url(assets/tennis.svg);
}

.icon-field {
    background-image: url(assets/field.svg);
}

.icon-training {
    background-image: url(assets/training.svg);
}

.no-pad {
    padding: 0!important;
}