$tennio-color: #66ae30;
$logo-offset: 100px;
$logo-outer-offset: 157px;
$navbar-collapse-width: 1046px;
$front-bg-color: #E0E0E0;

@mixin pointer {
	&:hover {
		cursor: pointer;
	}
}

@mixin centerX {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

@mixin centerY {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@mixin centerXY {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}