<div class="text-center">
    <h3 *ngIf="title">{{title}}</h3>
    <table class="table table-hover table-striped" style="width: auto !important; margin-left: auto; margin-right: auto;" *ngIf="currentElements?.length">
        <thead class="thead-inverse">
        <tr>
            <th class="text-capitalize" *ngFor="let column of getKeys()">
                {{column}}
            </th>
            <td *ngIf="!child && editCB">
                EDIT
            </td>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let element of currentElements">
                <td *ngFor="let value of getValues(element)" [ngSwitch]="isSubView(value)">
                    <button *ngSwitchCase="true" (click)="openSubView(value)">VIEW</button>
                    <span *ngSwitchCase="false">{{value}}</span>
                </td>
                <td *ngIf="!child && editCB">
                    <button (click)="editCB(element)">EDIT</button>
                </td>
                <td *ngIf="!child && deleteCB">
                    <button (click)="deleteCB(element)" class="btn-danger">DELETE</button>
                </td>
            </tr>
        </tbody>
    </table>
    <nav *ngIf="!child && elements?.length" class="text-center">
        <ul class="pagination">
            <li class="page-item {{firstPage ? 'disabled' : ''}}">
                <a class="page-link" (click)="loadPage(page - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>

            <li *ngFor="let p of getVisiblePages()" class="page-item {{(page + 1) == p ? 'active' : ''}}">
                <a class="page-link" (click)="loadPage(p - 1)">{{p}}
                    <span *ngIf="(page + 1) == p" class="sr-only">(current)</span>
                </a>
            </li>

            <li class="page-item {{lastPage ? 'disabled' : ''}}">
                <a class="page-link" (click)="loadPage(page + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<tennio-stats-popup #statPopup [player]="player"></tennio-stats-popup>

<div *ngIf="!child" class="modal fade" id="paginator-modal-{{title}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <paginator #popupPaginator [child]="true"></paginator>
            </div>
        </div>
    </div>
</div>