@import "../../../tennio.scss";

$thumb-size: 18px;

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #002200;
  background: $tennio-color;
  border-radius: 0px;
  border: 0px solid #18D501;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 4px #000000;
  border: 3px solid #FFFFFF;
  height: $thumb-size;
  width: $thumb-size;
  border-radius: $thumb-size;
  background: $tennio-color;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: $tennio-color;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #002200;
  background: $tennio-color;
  border-radius: 0px;
  border: 0px solid #18D501;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 4px #000000;
  border: 3px solid #FFFFFF;
  height: $thumb-size;
  width: $thumb-size;
  border-radius: $thumb-size;
  background: $tennio-color;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: $tennio-color;
  border: 0px solid #18D501;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #002200;
}

input[type=range]::-ms-fill-upper {
  background: $tennio-color;
  border: 0px solid #18D501;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #002200;
}

input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 4px #000000;
  border: 3px solid #FFFFFF;
  height: $thumb-size;
  width: $thumb-size;
  border-radius: 18px;
  background: $tennio-color;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: $tennio-color;
}

input[type=range]:focus::-ms-fill-upper {
  background: $tennio-color;
}

/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: $tennio-color;
}

input[type="range"]::-moz-range-track {
  background-color: #c1c1c1;
}

/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: $tennio-color;
}

input[type="range"]::-ms-fill-upper {
  background-color: #c1c1c1;
}